
.card {
    background-color: #d4f5d4;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
}

.footer {
    background-color: #d4f5d4;
}
.nav-links {
    text-decoration: none;
}

/*.navbar {*/
/*    background-color: #2c4d2c;*/
/*}*/

.service-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.image-container {
    position: relative;
    width: 100%;
}

.reg-logo {
    display: block;
    height: auto;

}
.carousel-img {
    max-height: 600px;
    object-fit: fill;
    border-radius: 10px;
    width: 100%;
}
.building-img {
    max-height: 700px;
    width: inherit;
}

.center-image {
    height: auto;
    border-radius: 8px;
}

.founders-img {
    max-width: 100%;
}

.services-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.overlay-text {
    position: absolute;
    max-width: 900px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    justify-self: center;
}


.overlay-text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.overlay-text p {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.btn-primary {
    border: none;
    color: white;
}

#mission {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 20px;
}

#mission img {
    max-height: 400px;
    margin-right: 20px;
}

#mission h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#mission p {
    flex-grow: 1;
}

#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
}

.social-icons {
    text-align: center;
}

.social-icons a {
    margin: 0 10px;
    font-size: 24px;
    color: #333;
}

footer {
    padding-top: 40px;
    padding-bottom: 20px;
}

.back-to-top {
    font-size: 24px;
    padding: 10px;
}

.back-to-top:hover {
    background-color: #333;
    color: white;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.animated-btn {
    animation: pulse 1.5s infinite;
    transition: background-color 0.3s ease;
}

.animated-btn:hover {
    background-color: #2b4e55;
    animation: none;
}

.border-bottom {
    border-color: black !important;
    margin: 0 auto;
    max-width: 500px;
}

@font-face {
    /*font-family: "Brush Script MT";*/
    font-family: "Edwardian Script ITC";
    src: url('/static/fonts/edwardianscriptitc.ttf') format('truetype');
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: xxx-large;
}

.font-face {
    font-family: "Edwardian Script ITC";
}